<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
	th:lang="${#locale.language}">
<head>
<!--/*/ <th:block th:include="fragments/view-main :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">

		<h1 th:text="#{poly.web.access.denied.title}">TITLE</h1>
		<p th:text="#{poly.web.access.denied.message}">MESSAGE</p>
		<a href="#" th:href="@{/menu}"
			th:text="#{poly.web.access.denied.home}">BACK HOME</a>

		<footer class="footer navbar-fixed-bottom">
			<!--/*/ <th:block th:include="fragments/view-main :: footer"></th:block> /*/-->
		</footer>
	</div>
</body>
</html>